* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;700&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(https://raw.githubusercontent.com/maykbrito/my-public-files/main/nlw-19/bg.jpg) no-repeat center/cover;
    min-height: 100vh;
}